/* В этом файле вы опишете значения переменных 
в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через 
медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --font-family-inter: "Inter-Variable", sans-serif;
  --font-family-press: "Press Start 2P", sans-serif;
  --main-font-weight: "wght" 465;
  --title-font-weight: "wght" 785;
  --color-black: rgba(0, 0, 0, 1);
  --color-green: rgba(0, 204, 20, 1);
  --color-red: rgba(255, 0, 0, 1);
  --background-gradient: repeating-linear-gradient(90deg, #000, transparent 2px),
    repeating-linear-gradient(180deg, #007f0c, #004306 2px);
  --accent-color: var(--color-green);
  --border-solid: var(--color-green);
  --text-color: var(--color-green);
  --back-color-page: var(--color-black);
  --back-color-block: var(--color-black);
  --back-color-button: var(--color-black);
  --svg-color: var(--color-green);
  --label-border: var(--color-black);
  --click-heart: var(--color-red);
  --back-gradient-page: var(--background-gradient);
}

:root.theme-light {
  --font-family-inter: "Inter-Variable", sans-serif;
  --font-family-press: "Press Start 2P", sans-serif;
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-red: rgba(255, 0, 0, 1);

  --main-font-weight: "wght" 400;
  --title-font-weight: "wght" 700;
  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3,
      transparent 2px
    ),
    repeating-linear-gradient(180deg, #d3d3d3, transparent 2px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
  --accent-color: var(--color-black);
  --border-solid: var(--color-black);
  --text-color: var(--color-black);
  --back-color-page: var(--color-white);
  --back-color-block: var(--color-white);
  --back-color-button: var(--color-white);
  --svg-color: var(--color-white);
  --label-border: var(--color-white);
  --click-heart: var(--color-red);
  --back-gradient-page: var(--background-gradient);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-family-inter: "Inter-Variable", sans-serif;
  --font-family-press: "Press Start 2P", sans-serif;
  --main-font-weight: "wght" 465;
  --title-font-weight: "wght" 785;
  --color-black: rgba(0, 0, 0, 1);
  --color-green: rgba(0, 204, 20, 1);
  --color-red: rgba(255, 0, 0, 1);
  --background-gradient: repeating-linear-gradient(90deg, #000, transparent 2px),
    repeating-linear-gradient(180deg, #007f0c, #004306 2px);
  --accent-color: var(--color-green);
  --border-solid: var(--color-green);
  --text-color: var(--color-green);
  --back-color-page: var(--color-black);
  --back-color-block: var(--color-black);
  --back-color-button: var(--color-black);
  --svg-color: var(--color-green);
  --label-border: var(--color-black);
  --click-heart: var(--color-red);
  --back-gradient-page: var(--background-gradient);
  }
}
